@{
    ViewData["Title"] = "Cuenta de Ahorros";
}

    <section>
        <div class="text-center">
            <h1 class="display-4">Cuenta de Ahorros</h1>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </section>


